// Both animations and animation-related helpers

.transition-02 {
    transition: all 0.2s ease-in-out;
}

.rotate-90 {
    transform: rotateZ(90deg);
}

.fade-in {
    animation-name: opacity-01;
    animation-duration: 0.4s;
}

@keyframes opacity-01 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.slide-in {
    animation: slide-in-left-right 0.2s forwards;
    opacity: 0;
}

@keyframes slide-in-left-right {
    0% {
        opacity: 0;
        transform: translateX(-2%);
    }
    90% {
        transform: translateX(0.2%);
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}
